.table-row {
  background-color: #f1f1f1;
  display: table-row;
  vertical-align: middle;
  outline: 0px;
  height: 80px;

  td {
    display: table-cell;
    border-bottom: 1px solid #000;
    text-align: left;
    padding: 16px;
  }
}

.star {
  &:after {
    content: "⭐️";
    display: inline-block;
    margin-left: 1em;
  }
}

.indicator {
  &:after {
    content: "🌞";
    display: inline-block;
    margin-left: 1em;
  }
  &.online {
    &:after {
      content: "🌚";
      display: inline-block;
      margin-left: 1em;
    }
  }
}
